body {
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background-size: cover;
  font-family: sans-serif;
  background-color: SeaShell;
}
header {
  background-color: navy;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header * {
  display: inline;
}
header li {
  margin: 20px;
}
header li a {
  color: white;
  text-decoration: none;
}

h1{
  color: blue;
}

p.para {
  color: orange;
}

p.para2 {
  color: #ff7f50;
}

label.text {
  background-color: grey;
}
input.cust {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}
  
  
